.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centrado en la pantalla */
  }
  
  .card {
    width: 400px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  mat-card-subtitle {
    font-size: 1rem;
    color: gray;
  }
  